package layout

templ Show() {
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
		</head>
		<body>
			<div class="navbar">
				{ children... }
			</div>
		</body>
	</html>
}
