package layout

templ Show() {
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="../../static/css/style.css"/>
			<script src="/static/js/htmx.min.js"></script>
		</head>
		<body>
			<div class="navbar">
				{ children... }
			</div>
		</body>
	</html>
}
