package ids

import "github.com/VanLavr/L0/view/layout"

templ ShowIds(ids, params []string) {
    @layout.Show() {
        <div class="ids">
            <ul>
                for index, id := range ids {
                    <li class='elem'><button hx-target='body' hx-get={ params[index] } class='btn'>{id}</button></li>
                }
            </ul>
        </div>
    }
}